body {
  font-size: 16px;
  color: #fff;
  background-color: #e5e5e5;
  font-family: 'Overpass', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #41009e;
  border-radius: 0;
  border: 0;
}


.navbar-nav {
  margin:7.5px -15px;
}

.navbar {
  margin-bottom:0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Arvo', serif;
  color: #ffffff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ffffff;
}

.navbar-header button:hover.navbar-toggle, .navbar-header:hover .icon-bar {
  border: 1px solid #41009e;
  background-color:#ffffff;
}

.navbar-header button:active.navbar-toggle, .navbar-header:active .icon-bar {
  border: 1px solid #41009e;
  background-color:#ffffff;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  color:#41009e;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-collapse {
  padding-left:0;
  padding-right:0;
}

.container .tallSection {
  border: 2px solid #41009e;
  background-color:#ffffff;
  height:1000px;
}

#main-content h2 {
  font-size:1.8em;
  font-family: 'Overpass', sans-serif;
  font-weight:bold;
  text-align: center;
  color:#41009e;
}
